.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #08d334;
  padding: 8px;
}

table th {
  background-color: #4deb8f;
}

button {
  margin: 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
